<a href="https://colab.research.google.com/github/carloscelestino1/DataScience-and-ML/blob/main/aula6_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
!pip install requests-html

In [2]:
import requests_html

# Conectando com a url

In [3]:
from requests_html import HTMLSession

In [4]:
url = 'https://pt.wikipedia.org/wiki/Lista_de_parlamentares_de_Pernambuco'

In [ ]:
df = pd.read_html(url)
df

In [7]:
print(f'Número de Dataframes: {len(df)}')

Número de Dataframes: 4

In [8]:
df[1].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Deputados federais eleitos  187 non-null    object
 1   Naturalidade                187 non-null    object
 2   Mandatos                    187 non-null    object
 3   Ano da eleição              187 non-null    object
 4   Notas                       33 non-null     object
dtypes: object(5)
memory usage: 7.4+ KB

In [9]:
deputados_pe = df[1]
deputados_pe

,Deputados federais eleitos,Naturalidade,Mandatos,Ano da eleição,Notas
0,Inocêncio Oliveira,"Serra Talhada, PE",10,"1974, 1978, 1982, 1986, 1990, 1994, 1998, 2002...",NaN
1,Osvaldo Coelho,"Juazeiro, BA",08,"1966, 1978, 1982, 1986, 1990, 1994, 1998, 2002",NaN
2,Ricardo Fiuza,"Fortaleza, CE",08,"1970, 1974, 1978, 1982, 1986, 1990, 1998, 2002",[nota 11]
3,Gonzaga Patriota,"Sertânia, PE",08,"1986, 1994, 1998, 2002, 2006, 2010, 2014, 2018",NaN
4,José Mendonça Bezerra,"Belo Jardim, PE",07,"1982, 1986, 1990, 1994, 1998, 2002, 2006",NaN
...,...,...,...,...,...
182,Marília Arraes,"Recife, PE",01,2018,NaN
183,Ossesio Silva,"Rio de Janeiro, RJ",01,2018,NaN
184,Sílvio Costa Filho,"Recife, PE",01,2018,NaN
185,Túlio Gadêlha,"Recife, PE",01,2018,NaN
186,Fonte:[2][3],Fonte:[2][3],Fonte:[2][3],Fonte:[2][3],Fonte:[2][3]

In [10]:
deputados_pe.head()

,Deputados federais eleitos,Naturalidade,Mandatos,Ano da eleição,Notas
0,Inocêncio Oliveira,"Serra Talhada, PE",10,"1974, 1978, 1982, 1986, 1990, 1994, 1998, 2002...",NaN
1,Osvaldo Coelho,"Juazeiro, BA",08,"1966, 1978, 1982, 1986, 1990, 1994, 1998, 2002",NaN
2,Ricardo Fiuza,"Fortaleza, CE",08,"1970, 1974, 1978, 1982, 1986, 1990, 1998, 2002",[nota 11]
3,Gonzaga Patriota,"Sertânia, PE",08,"1986, 1994, 1998, 2002, 2006, 2010, 2014, 2018",NaN
4,José Mendonça Bezerra,"Belo Jardim, PE",07,"1982, 1986, 1990, 1994, 1998, 2002, 2006",NaN

In [11]:
deputados_pe.groupby('Naturalidade')['Ano da eleição'].count().sort_values(ascending=False)

Naturalidade
Recife, PE                    80
Caruaru, PE                    6
Nazaré da Mata, PE             5
Limoeiro, PE                   4
Vitória de Santo Antão, PE     4
                              ..
Murici, AL                     1
Cabaceiras, PB                 1
Brejo da Madre de Deus, PE     1
Orobó, PE                      1
Afogados da Ingazeira, PE      1
Name: Ano da eleição, Length: 67, dtype: int64